<%- include('../partials/head')  %> 
<body>
    <%- include('../partials/header')  %>
    <img src="https://66.media.tumblr.com/347f7009d0072012d1da2e1c780abb8d/tumblr_o34spm09Vl1uiwpaqo1_250.png" alt="airplane" class="duck">
    <p class="error-msg">Oh no....the page doesn't exist!</p>
</body>