<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/1') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>I didn’t know how much cookies shaped like integers cost, but I crunched the numbers</p>
      </div>
    </div>
    <footer>
      <a href="question2">Next</a>
    </footer>
  </div>
</body>
